# Environment
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_DB=hotel_reservas

# Database
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_SERVER}:${POSTGRES_PORT}/${POSTGRES_DB}

# App
ENVIRONMENT=local
DEBUG=true
SECRET_KEY=changethis-in-production
